
SAUT_URL=https://apps.univ-lr.fr/cgi-bin/WebObjects/ServAut.woa/wa/

SAUT_ID_TRANSLATION=GRHUM:GRHUM,LMD:LMD
#SAUT_ID_TRANSLATION=GRHUM:GRHUMT,LMD:LMDT

APP_ID=LMD
APP_ALIAS=TrombiWeb

# Niveau maximum affiché dans le popup de sélection du niveau lors de recherche par formation
# si non défini, niveau par défaut = 3
APP_NIVEAU_FORMATION_MAX=5

# si true, on ne tient pas compte du champ indPhoto de la table individuUlr et on affiche toutes les photos
BYPASS_INDPHOTO_FLAG=true

# Entités dans l'ordre de recherche voulu
# Voir le modèle de données photo pour les noms des entités...
NOM_TABLE_IMAGE = PhotosEtudiantsGrhum,PhotosEtudiantsOldGrhum,PhotosEmployesGrhum

APP_URL=http://apps.univ-lr.fr/cgi-bin/WebObjects/TrombiWeb.woa
APP_TITLE=TROMBIWEB
APP_USE_MAIL=YES
APP_USE_CAS=YES
MAIN_LOGO_URL=http://apps.univ-lr.fr/image_partagee/ULRLogo90.gif

IMAGE_SERVER_URL=http://apps.univ-lr.fr/cgi-bin/WebObjects/ImageServer.woa/wa/
#IMAGE_SERVER_URL=http://10.1.11.138:1144/cgi-bin/WebObjects/ImageServer.woa/wa/
ACCES_IMAGE_SERVER=ADefinir

JDBC_DRIVER_NAME=oracle.jdbc.driver.OracleDriver

MANDATORY_LANGUAGE=French
LANGUAGE_LIST=French,English
NB_IMAGES_PAR_LIGNE=7
IMAGE_WIDTH=72
IMAGE_HEIGHT=auto

MAX_PHOTO_PAR_PAGE=99

URL_ETABLISSEMENT=http://www.univ-larochelle.fr
EMAIL_CONTACT=

EXCLURE_DEPART_DE_GRADE=NO

#Customisation de l'application
TEXT_INTRO=Cette application vous permet de consulter et r&eacute;cup&eacute;rer les photos des &eacute;tudiants ayant pris une inscription administrative au service de la scolarit&eacute;.<br>Vous pouvez acc&eacute;der aux photos en demandant une recherche par formation, par &eacute;l&eacute;ment constitutif ou simplement par nom de l'&eacute;tudiant.<br>L'acc&egrave;s est li&eacute; &agrave; l'attribution des droits d'acc&egrave;s aux formations dans les applications de scolarit&eacute;.<br>Pour plus d'informations, envoyer un mail &agrave; l'adresse inscrite en bas de cette page.
