{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "FFIL_ABREVIATION"; 
            externalType = VARCHAR2; 
            name = ffilAbreviation; 
            valueClassName = NSString; 
            valueType = S; 
            width = 30; 
        }, 
        {
            columnName = "FFIL_CODE"; 
            externalType = VARCHAR2; 
            name = ffilCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            columnName = "FFIL_LIBELLE"; 
            externalType = VARCHAR2; 
            name = ffilLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "FFIL_VALIDITE"; 
            externalType = VARCHAR2; 
            name = ffilValidite; 
            valueClassName = NSString; 
            valueType = S; 
            width = 1; 
        }
    ); 
    attributesUsedForLocking = (ffilCode, ffilLibelle, ffilAbreviation, ffilValidite); 
    className = "org.cocktail.trombino.metier.ScolFormationFiliere"; 
    classProperties = (ffilLibelle, ffilAbreviation, ffilValidite, ffilCode); 
    externalName = "SCOLARITE.SCOL_FORMATION_FILIERE"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_clientClassPropertyNames" = (ffilLibelle, ffilAbreviation, ffilValidite); }; 
    name = ScolFormationFiliere; 
    primaryKeyAttributes = (ffilCode); 
}
