{
    attributes = (
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = "MEC_BASE"; 
            externalType = NUMBER; 
            name = mecBase; 
            precision = 3; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = "MEC_CODE"; 
            externalType = VARCHAR2; 
            name = mecCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }, 
        {
            columnName = "MEC_HORAIRE_ETU"; 
            externalType = NUMBER; 
            name = mecHoraireEtu; 
            precision = 5; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            columnName = "MEC_KEY"; 
            externalType = NUMBER; 
            name = mecKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MEC_LIBELLE"; 
            externalType = VARCHAR2; 
            name = mecLibelle; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MEC_LIBELLE_COURT"; 
            externalType = VARCHAR2; 
            name = mecLibelleCourt; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            columnName = "MEC_POINTS"; 
            externalType = NUMBER; 
            name = mecPoints; 
            precision = 4; 
            scale = 2; 
            valueClassName = NSDecimalNumber; 
            valueType = B; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MEC_SESSION1"; 
            externalType = VARCHAR2; 
            name = mecSession1; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MEC_SESSION2"; 
            externalType = VARCHAR2; 
            name = mecSession2; 
            valueClassName = NSString; 
            valueType = S; 
            width = 100; 
        }
    ); 
    attributesUsedForLocking = (
        mecKey, 
        mecCode, 
        mecLibelle, 
        mecLibelleCourt, 
        mecHoraireEtu, 
        mecPoints, 
        mecSession1, 
        mecSession2, 
        mecBase, 
        fannKey
    ); 
    className = "org.cocktail.trombino.metier.ScolMaquetteEc"; 
    classProperties = (
        mecCode, 
        mecLibelle, 
        mecLibelleCourt, 
        mecHoraireEtu, 
        mecPoints, 
        mecSession1, 
        mecSession2, 
        mecBase, 
        fannKey, 
        mecKey, 
        vDroitTrombiEc, 
        vScolInscriptionEcs
    ); 
    externalName = "SCOLARITE.SCOL_MAQUETTE_EC"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (
            mecCode, 
            mecLibelle, 
            mecLibelleCourt, 
            mecHoraireEtu, 
            mecPoints, 
            mecSession1, 
            mecSession2, 
            mecBase, 
            fannKey, 
            mecKey
        ); 
    }; 
    name = ScolMaquetteEc; 
    primaryKeyAttributes = (mecKey); 
    relationships = (
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = VDroitTrombiEc; 
            isMandatory = Y; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = (
                {destinationAttribute = fannKey; sourceAttribute = fannKey; }, 
                {destinationAttribute = mecKey; sourceAttribute = mecKey; }
            ); 
            name = vDroitTrombiEc; 
        }, 
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = VScolInscriptionEc; 
            isMandatory = Y; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = mecCode; sourceAttribute = mecCode; }); 
            name = vScolInscriptionEcs; 
        }
    ); 
}
