{
    attributes = (
        {
            columnName = "DLOG_LOGIN"; 
            externalType = VARCHAR2; 
            name = dlogLogin; 
            valueClassName = NSString; 
            valueType = S; 
            width = 12; 
        }, 
        {
            columnName = "FANN_KEY"; 
            externalType = NUMBER; 
            name = fannKey; 
            precision = 4; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = "FDIP_CODE"; 
            externalType = VARCHAR2; 
            name = fdipCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 7; 
        }, 
        {
            columnName = "FGRA_CODE"; 
            externalType = VARCHAR2; 
            name = fgraCode; 
            valueClassName = NSString; 
            valueType = S; 
            width = 5; 
        }, 
        {
            columnName = "FHAB_KEY"; 
            externalType = NUMBER; 
            name = fhabKey; 
            precision = 6; 
            valueClassName = NSNumber; 
            valueType = l; 
        }, 
        {
            columnName = "FHAB_NIVEAU"; 
            externalType = NUMBER; 
            name = fhabNiveau; 
            precision = 1; 
            valueClassName = NSNumber; 
            valueType = l; 
        }
    ); 
    attributesUsedForLocking = (fhabKey, dlogLogin, fdipCode, fgraCode, fhabNiveau, fannKey); 
    className = "org.cocktail.trombino.metier.VDroitFormation"; 
    classProperties = (fhabKey, dlogLogin, fdipCode, fgraCode, fhabNiveau, fannKey); 
    externalName = "SCOLARITE.V_DROIT_FORMATION"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (fhabKey, dlogLogin, fdipCode, fgraCode, fhabNiveau, fannKey); 
    }; 
    name = VDroitFormation; 
    primaryKeyAttributes = (dlogLogin, fhabKey); 
}
