<div class="top">
	<div class="menu">
		<webobject name="CondExtControls">
			<a href="<webobject name=LinkStartPage></webobject>"><webobject name="ImageBRetour"/></a>
			
			<webobject name = "CanPrint">
				<webobject name="CondMSIE">
					<a href="javascript:;" onClick="openInNewWindow('<webobject name=LinkPrint></webobject>','Trombino');"><webobject name="ImageBImprimer"/></a>
				</webobject>
				
				<webobject name="CondNoMSIE">
					<a href="<webobject name=LinkPrint></webobject>"><webobject name="ImageBImprimer"/></a>
				</webobject>
			</webobject>
			
		</webobject>
		<a href="<webobject name=LinkTerminateSess></webobject>"><webobject name="ImageBQuitter"/></a>
	</div>
	<br/>

	<div>
		<h4><webobject name="PageTitle"/></h4>
	</div>
</div>
